
body{
    /* background-image: url('/images/1.jpg'); */
    background-size: cover;
    text-align: right;
    display: block;
}
.displys{
    border-spacing:0px;
    margin-left: 70%;
    margin-top: 150px;
    border: 20px solid rgb(206, 204, 204);
    border-style:ridge;
    border-bottom: none;
}

.timer{
    width: 65px;
    height: 60px; 
    border: 10px solid rgb(206, 204, 204);
    border-bottom: 10px solid rgb(206, 204, 204);
    font-family: digits-d;
    text-align: center;
    font-size: 40px;
}
.buten{
    text-align: center;
    font-size: xx-large;
    background-color: rgb(206, 204, 204);
    width: 40px;
    height: 30px;
    border-top: 25px solid rgb(206, 204, 204);
    border-bottom: 25px solid rgb(206, 204, 204);
}

.mine{
    font-size: 40px;
    text-align: center;
    width: 65px;
    height: 60px; 
    border: 10px solid rgb(206, 204, 204);
    border-bottom: 10px solid rgb(206, 204, 204);
    font-family: digits-d;

}

/* .displys td{
    width: 106px;
    height: 60px;
    background-color: rgb(206, 204, 204);
    border-spacing: 0;
} */

.game{
    border-spacing:0px;
    margin-left: 70%;
    /* margin-top: 150px; */
    border: 20px solid rgb(206, 204, 204);
    border-style:ridge;
}


.game-cell{
    background-color: rgb(206, 204, 204);
    border-width:6px;  
    border-style:outset;
    height: 40px ;
    width: 40px ;
    border-spacing: 0;
}


.open{
    table-layout: fixed;
    text-align: center;
    border: solid rgb(153, 153, 153);
    border-width:2.5px;  
    font-size:  xx-large;
    font-family: mine-sweeper;

}
.flagged{
    /* image */
    /* background-image:url("/images/flag.png"); */
    text-align: center;
    font-size: xx-large;
}
@font-face {
    font-family: 'mine-sweeper';
    src:url(font/mine-sweeper.otf);
  }

  @font-face {
    font-family: 'digits-d';
    src:url(font/digits-d.otf);
  }
  
  
  

  
  


